@page
@model EditDrivesModel
@{
    ViewData["Title"] = "Edit Drives";
}



    
    @for (var i = 0; i < Model.drives.Count; i++)
    {
        @using (Html.BeginForm())
        {
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(it => it.drives[i].Id)
                    @Html.TextBoxFor(it => it.drives[i].DriveLetter)
                    @Html.TextBoxFor(it => it.drives[i].DriveName)
                </td>
                <td>
                    <button id="button">Save Edit</button>
                </td>
            </tr>
        </table>
    }
    
}
