@page
@model RequestForm.Pages.SubmitEmailModel
@{
    var request = Request;
    var checkedDrives = Request.Query["drive_checked"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Request for Assistance</title>
</head>
<body>
    Test
</body>
</html>